@font-face {
  font-family: 'Montserrat Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Montserrat Regular"), url("font/Montserrat-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Montserrat Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Montserrat Italic"), url("font/Montserrat-Italic.woff") format("woff");
}

@font-face {
  font-family: 'Montserrat Thin';
  font-style: normal;
  font-weight: normal;
  src: local("Montserrat Thin"), url("font/Montserrat-Thin.woff") format("woff");
}

@font-face {
  font-family: 'Montserrat Thin Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Montserrat Thin Italic"), url("font/Montserrat-ThinItalic.woff") format("woff");
}

@font-face {
  font-family: 'Montserrat ExtraLight';
  font-style: normal;
  font-weight: normal;
  src: local("Montserrat ExtraLight"), url("font/Montserrat-ExtraLight.woff") format("woff");
}

@font-face {
  font-family: 'Montserrat ExtraLight Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Montserrat ExtraLight Italic"), url("font/Montserrat-ExtraLightItalic.woff") format("woff");
}

@font-face {
  font-family: 'Montserrat Light';
  font-style: normal;
  font-weight: normal;
  src: local("Montserrat Light"), url("font/Montserrat-Light.woff") format("woff");
}

@font-face {
  font-family: 'Montserrat Light Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Montserrat Light Italic"), url("font/Montserrat-LightItalic.woff") format("woff");
}

@font-face {
  font-family: 'Montserrat Medium';
  font-style: normal;
  font-weight: normal;
  src: local("Montserrat Medium"), url("font/Montserrat-Medium.woff") format("woff");
}

@font-face {
  font-family: 'Montserrat Medium Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Montserrat Medium Italic"), url("font/Montserrat-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: 'Montserrat SemiBold';
  font-style: normal;
  font-weight: normal;
  src: local("Montserrat SemiBold"), url("font/Montserrat-SemiBold.woff") format("woff");
}

@font-face {
  font-family: 'Montserrat SemiBold Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Montserrat SemiBold Italic"), url("font/Montserrat-SemiBoldItalic.woff") format("woff");
}

@font-face {
  font-family: 'Montserrat Bold';
  font-style: normal;
  font-weight: normal;
  src: local("Montserrat Bold"), url("font/Montserrat-Bold.woff") format("woff");
}

@font-face {
  font-family: 'Montserrat Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Montserrat Bold Italic"), url("font/Montserrat-BoldItalic.woff") format("woff");
}

@font-face {
  font-family: 'Montserrat ExtraBold';
  font-style: normal;
  font-weight: normal;
  src: local("Montserrat ExtraBold"), url("font/Montserrat-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: 'Montserrat ExtraBold Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Montserrat ExtraBold Italic"), url("font/Montserrat-ExtraBoldItalic.woff") format("woff");
}

@font-face {
  font-family: 'Montserrat Black';
  font-style: normal;
  font-weight: normal;
  src: local("Montserrat Black"), url("font/Montserrat-Black.woff") format("woff");
}

@font-face {
  font-family: 'Montserrat Black Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Montserrat Black Italic"), url("font/Montserrat-BlackItalic.woff") format("woff");
}
/*# sourceMappingURL=styleFont.css.map */